<manifest xmlns:android="http://schemas.android.com/apk/res/android"
  package="com.github.niltsiar.ultimatescrobbler.remote">

  <uses-permission android:name="android.permission.INTERNET" />

  <application>
    <service
      android:name=".services.SendNowPlayingService"
      android:exported="false">
      <intent-filter>
        <action android:name="com.firebase.jobdispatcher.ACTION_EXECUTE" />
      </intent-filter>
    </service>
    <service
      android:name=".services.ScrobblePlayedSongsService"
      android:exported="false">
      <intent-filter>
        <action android:name="com.firebase.jobdispatcher.ACTION_EXECUTE" />
      </intent-filter>
    </service>
    <service
      android:name=".services.GetInfoService"
      android:exported="false">
      <intent-filter>
        <action android:name="com.firebase.jobdispatcher.ACTION_EXECUTE" />
      </intent-filter>
    </service>
  </application>

</manifest>
